<main class="v-login">
    <section class="subHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subHeader_content">
                        <a href="/"><span class="icon-back_arrow"></span></a>
                        <h1>Iniciar sesión</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="box-main">
        <div class="login-content">
          <form action="/login" method="post">
            <div class="form-group compact hideAutocomplete">
                <label for="signupEmailInput"> Email </label>
                <input class="form-control" type="email" name="email" id="signupEmailInput">
            </div>

            <div class="form-group compact hideAutocomplete">
                <label for="signupPasswordInput"> Password </label>
                <input class="form-control" type="password" name="password" id="signupPasswordInput">
            </div>
          </form>
        </div>
        {{#if err}}
        <p class="invalid-feedback">
          {{ err }}
        </p>
      {{/if}}
      <div class="box-main_footer">
        <a id="btnContinueSignup" class="btn btn-primary btn-lg">iniciar sesión</a>
        <p class="small-link">No estamos registrados <a href="/signup">Registrarse</a></p>
      </div>

    </section>
</main>

<script src="/javascripts/Forms.js"></script>