<h1>DahsBoard</h1>
<p>Hola {{currentUserInfo.carer.name}}!</p>

<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
    var socket = io('');
    var startPos;

    let carerId = '{{currentUserInfo.user._id}}';
    
    navigator.geolocation.getCurrentPosition(
        (position) => {
            startPos = position;
            socket.emit("carer-online", { carerId: carerId, latitude: startPos.coords.latitude, longitude: startPos.coords.longitude });
        }
    );

    navigator.geolocation.watchPosition(
        (position) => {
            socket.emit("carer-online-moving", { carerId: carerId, latitude: position.coords.latitude, longitude: position.coords.longitude });
        }
    );
</script>
