<main class="v-dashboard">
    <h1>DahsBoard</h1>
    <p>Hola {{currentUserInfo.carer.name}}!</p>
    <button id="confirm" data-contract="2345" type="button">Aceptar petición</button>
</main>
<script src="/javascripts/User.js"></script>
<script>

    const petition = [];

    const sendAnswer = (e) => {
        let petitionId = e.currentTarget.getAttribute('data-contract');
        console.log(petitionId)
        socket.emit('accept', { petitionId: petitionId})
    }

    document.getElementById('confirm').addEventListener('click', sendAnswer);

 

    socket.on('Resendmessage', function(data) { 
        petition.push(data);
    });


    


    navigator.geolocation.getCurrentPosition(
        (position) => {
            socket.emit('carer-online', 
                { 
                    socket: socket.id,
                    carerId: '{{currentUserInfo.user._id}}', 
                    geometry: {
                        coordinates: [position.coords.longitude, position.coords.latitude],
                        type: 'Point'
                    }
                }
            );
        }
    );

    navigator.geolocation.watchPosition(
        (position) => {
            socket.emit('carer-online-moving', 
                { 
                    carerId: '{{currentUserInfo.user._id}}', 
                    geometry: {
                        coordinates: [position.coords.longitude, position.coords.latitude],
                        type: 'Point'
                    }
                }
            );
        }
    );

</script>
