#carerArea.v-profile{

    position: relative;
    padding: 0;
    background-color: $beige-color;

    .profile-background{
        position: absolute;
    }

    .subHeader{
        background-color: transparent;
        width: 100%;
        position: absolute;
        height: 56px;
        z-index: 2;

        #backLink{
            color: #000
        }
    }

    .box-main{
        padding-top: 30px;
        overflow: visible;
        margin-top: -30px;
        position: absolute;

        .profile-subHeader{
            display: flex;
            justify-content: space-between;

            &_name{
                width: 50%;
                padding-right: 30px;
            }
        }

        .profile_name{
            font-size: 1.9rem;
        }

    }

    .pofile-heroBanner{
        position: relative;
        overflow: visible;
        min-height: 162px;

        .profile-banner{
            border-radius: 0;
            margin: 0;
            height: 140px;
            box-shadow: none;
        }

        .profile-avatar{
            position: absolute;
            bottom: 0;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);

            .avatar{
                margin: 0;
                transform: translateY(16%);
                width: 100px;
                height: 100px;
                box-shadow: none;
                border: 6px solid #fff;
                margin-bottom: -3px;
            }
        }
    }

    .home-buttons{
        position: relative;
        z-index:1;
        width: 100%;
        padding-bottom: 32px;

        .btn{
            margin-top: 16px;
            box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.49);
        }
    }

    .profile-score_bones{
        font-size: 1.7rem;
        height: 40px;
        vertical-align: middle;
        display: flex;
        align-items: center;

        > span:first-child{
            padding-right: 10px;
            font-weight: 500;
            color: $primary-color;
        }
    }

    .profile-phoneSection{
        display: flex;
        justify-content: space-between;

        > * {
            width: 48%;
        } 
    }

    .profile-banner-photo{
        width: 100%;
        margin-bottom: 25px;
    }

}

.v-profile .box-main .profile_wrapperAvatar .avatar{
    margin-bottom: -3px;;
}