#carerArea.v-profile{
    position: relative;
    padding: 0;
    background-color: #F7F2E5;
    height: calc(100vh - 56px);

    .profile-background{
        position: absolute;
    }

    .subHeader{
        background-color: transparent;
        width: 100%;
        position: absolute;
        height: 56px;
        z-index: 2;

        #backLink{
            color: #000
        }
    }

    .box-main{
        overflow: visible;
        margin-top: -30px;
        position: absolute;
        top: 163px;
        padding-top: 60px;
        height: auto;
        min-height: auto;

        .profile_header{
            margin-top: -35px
        }

        .profile-subHeader{
            display: flex;
            justify-content: space-between;

            &_name{
                width: 50%;
                padding-right: 30px;
            }
        }

        .profile_name{
            font-size: 1.9rem;
        }

    }

    .profile-heroBanner{
        position: absolute;
        overflow: visible;
        min-height: 162px;
        width: 100%;

        .profile-banner{
            border-radius: 0;
            margin: 0;
            height: 140px;
            box-shadow: none;

            button{
                display: none;
            }
        }

        .profile-avatar{
            position: absolute;
            bottom: 0;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);

            .avatar{
                margin: 0;
                transform: translateY(16%);
                width: 100px;
                height: 100px;
                box-shadow: none;
                border: 6px solid #fff;
                margin-bottom: -3px;
            }

            .btn-modificar{
                background-color: white;
                opacity: 1;
                position: absolute;
                right: 11px;
                bottom: -9px;
                border: 1px solid #ccc;
                pointer-events: none;
            }
        }
    }

    .home-buttons{
        position: relative;
        z-index:1;
        width: 100%;
        padding-bottom: 32px;

        .btn{
            margin-top: 16px;
            box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.49);
        }
    }


    .profile-banner-photo,
    .profile.avatar {
        button{
            display: none;
        }
    }

    .profile-score_bones{
        font-size: 1.7rem;
        height: 40px;
        vertical-align: middle;
        display: flex;
        align-items: center;

        > span:first-child{
            padding-right: 10px;
            font-weight: 500;
            color: $primary-color;
        }
    }

    .profile-phoneSection{
        display: flex;
        justify-content: space-between;

        > * {
            width: 48%;
        } 
    }


    .editField_label textarea{
        padding: 15px
    }

    .profile-banner-photo{
        width: 100%;
        margin-bottom: 34px;
    }

    .profile.avatar,
    .profile-banner{
        &.loading{
            overflow: hidden;
            position: relative;

            &:after{
                width: 100%;
                height: 100%;
                content: "";
                background-color: rgba(0, 0, 0, 0.5);
                background-image: url('../../images/Spinner-1s-200px.svg');
                background-repeat: no-repeat;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                transform: none;
                opacity: 1;
                font-size: 1.6rem;
                font-family: rubik;
                background-size: 35%;
                background-position: center;
            }
        }
    }

}

.v-profile .box-main .profile_wrapperAvatar .avatar{
    margin-bottom: -3px;;
}