.v-service-home{
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 56px);
    background-image: url('../../images/home-bg.jpg');
    background-size: contain;
    background-position: center 40px;

    .box-main{
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .service-home_wellcome{
        display: flex;
        margin-bottom: 20px;

        &_text{
            padding-right: 20px;
        }
        
        p{
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
        }

        .avatar{
            width: 73px;
            height: 73px;
            margin: 0;
        }


    }

    .splide{

        margin-bottom: 15px;

        &__slide{
            height: 204px;
            width: 125px;
            position: relative;

            &:hover{
                .intervalCard{
                    background-color: $secondary-color;
                }
            }
        }

        .intervalCard{
            height: 200px!important;

           .intervalTime > div{
                display: inline-block;
            }
        }
    }
}