.v-signup{
    min-height: calc(100vh - #{$headerheight});
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .box-main{
        min-height: calc(100vh - 150px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .splide{
        display: flex;
        flex-direction: column;

        &__slide{
            height: auto!important;
        }

        &__pagination{
            order: 0;
            position: relative;
            bottom: auto;

            li{
                position: relative;
                min-width: 45px;
                display: flex;
                justify-content: center;
                flex-flow: column;
            }

            &__page{

                background-color: transparent;
                margin-top: 20px;
                position: relative;

                &:before{
                    content: '\e902';
                    font-family: 'icomoon';
                    font-size: 2rem;
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $dark-color;
                }


                &.is-active {
                    transform: none;
                    background: $primary-color;

                    &:before{
                        color: $primary-color;
                        
                    }
                }
            }
        }

        &__track{
            order: 1;
            
        }
    }

    .avatar{
        margin-top: 20px;
    }
}