<main class="v-home">
    <section class="home-buttons">
        <a href="/login" class="btn btn-primary btn-lg">Inicia sesión</a>
        <a href="/signup" class="btn btn-secondary btn-lg">Regístrate</a>
    </section>
</main>