<main class="v-payment"> 
    <section class="subHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subHeader_content">
                        <button id="backSplide"class="d-none"><span class="icon-back_arrow"></span></button>
                        <h1>Datos de la targeta</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="box-main">
        <form action="/payment" method="post">
            <input name="userId" id="user-id" type="text" style="display: none;">

            <div class="form-group compact hideAutocomplete">
                <label for="name">¿Eres el titular? Dinos tu nombre</label>
                <input class="form-control" type="text" name="name" id="signupEmailInput">
            </div>
            <div class="form-group compact hideAutocomplete">
                <label for="number">¿Qué número aparece en tu tarjeta?</label>
                <input class="form-control" type="number" name="number" id="number" pattern="\d*" maxlength="19">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group compact hideAutocomplete">
                        <label for="expiresMonth">¿Cúando caduca?</label>
                        <input class="form-control" type="text" pattern="\d*" name="expiresMonth" id="expiresMonth">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group compact hideAutocomplete">
                        <label for="cvv">CVV</label>
                        <input class="form-control" type="number" pattern="\d*" name="cvv" id="cvv" maxlength="3">
                    </div>
                </div>
            </div>

            <div class="form-row save-card-check">
                <div class="row">
                    <div class="col-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="save-card" name="saveCard">
                            <label class="custom-control-label" for="save-card"></label>
                        </div>
                    </div>
                    <div class="col-9">
                        <p>Si quieres, guardamos tus datos de pago para futuras ocasiones.</p>
                    </div>
                </div>
            </div>

            <div class="box mt-4 mb-5 payment-information">
                    <p>Tu pago se realizará una vez que haya un aceptación mutua entre el cuidador y tú durante el perido de prueba</p>
            </div>

            <div class="footer-buttons">
                <button id="add-card" class="btn btn-primary btn-lg" type="submit">Añadir tarjeta</button>
            </div>
            
            {{#if err}}
            <p class="error-message">
                {{ err }}
            </p>
            {{/if}}
        </form>
    </section>
</main>

<script src="/javascripts/Forms.js"></script>
<script>
    window.onload = () => {
    let retrievedObject = localStorage.getItem("contract");
    let contract = JSON.parse(retrievedObject);

    console.log(contract.userId)

    document.getElementById('user-id').value = contract.userId


    }
</script>
