<h2>Contratar Servicio</h1>

    <div>
        <img src="#" alt="Waiting for service photo">
    </div>

    <p>Esperando la confirmación de </br><span id="carer-name"></span></p>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>

        let isLoading = true;

        window.onload = () => {
            let retrievedObject = localStorage.getItem("contract");
            let contract = JSON.parse(retrievedObject);
            //var socket = io.connect('http://localhost:3000', {
            //    'forceNew': true
            //});

            let isLoading = true;



            console.log(contract);

            document.getElementById('carer-name').innerHTML = contract.carerName

            const testButton = document.getElementById("test")

            socket.emit('request', { carerId: contract.userId })





        };


    </script>