<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        margin-top: 40px;
        height: 200px;
    }

    .markerMeetingPoint {
        background-image: url('./../images/meetingpoint.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
</style>

<h2>Resumen de Servicio</h2>
<div class="meeting-point-map">
    <div id="map"></div>
</div>

<h3 id="carer-name"></h3>
<p>Tiempo Contratado</p>
<p id="interval"></p>
<p>Importe a pagar</p>
<p id="price"></p>

<h3>Punto de encuentro y recogida</h3>
<p id="meeting-point"></p>

<a type="button" class="btn btn-primary btn-lg" href="/payment">Continuar</a>
<a href="/service">Cancelar servicio</a>


<script>

    window.onload = () => {
        let retrievedObject = localStorage.getItem("contract");
        let contract = JSON.parse(retrievedObject);

        const coordinates = contract.geometry

        mapboxgl.accessToken = 'pk.eyJ1IjoiYWxlamFuZHJvY29sbyIsImEiOiJja2Q3MXNyamQwbmJ5MnRyYW15bjh4OTN2In0.aDG3a4zapy_fDvwNq-Wgqw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: contract.geometry,
            zoom: 14
        });

        var el = document.createElement("div");
        el.className = "markerMeetingPoint";

        new mapboxgl.Marker(el)
            .setLngLat(contract.geometry)
            .addTo(map);

        const result = {}
        let num = contract.interval_time
        let rawTotal = num / (1000 * 3600);
        let hours = Math.floor(rawTotal);
        let minutes = (Math.ceil(rawTotal) - rawTotal) * 60;

        if (hours !== 0) result.hours = hours + "h";
        if (minutes !== 0) result.minutes = Number(minutes.toFixed(0)) + "min";




        document.getElementById('carer-name').innerHTML = contract.carerName
        document.getElementById('interval').innerHTML = result.hours + result.minutes
        document.getElementById('price').innerHTML = contract.price
        document.getElementById('meeting-point').innerHTML = contract.meeting_point

    }


</script>