<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<style>
    .marker {
  background-image: url('./../images/usuario.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
</style>
<main class="v-service-map-location">
    <section class="subHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subHeader_content">
                        <a id="backLink" href="/"><span class="icon-back_arrow"></span></a>
                        <button id="backSplide"class="d-none"><span class="icon-back_arrow"></span></button>
                        <h1>¿Dónde te cuentras?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="box-main box-main--carerList">

    </section>
    <div id="map"></div>
    <section class="box-main">
        <div id="geocoder" class="geocoder"></div>
        <button id="search-carers" class="btn btn-primary btn-lg" type="button">Buscar LetsDogs!</button>
    </section>
</main>




<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="./../javascripts/services/apiService.js"></script>
<script src="./../javascripts/User.js"></script>
<script src="./../javascripts/map.js"></script>

