<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<style>
    .marker {
  background-image: url('./../images/usuario.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
</style>
<main class="v-service-map-location">
    <section class="subHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subHeader_content">
                        <a id="backLink" href="/"><span class="icon-back_arrow"></span></a>
                        <button id="backSplide"class="d-none"><span class="icon-back_arrow"></span></button>
                        <h1>¿Dónde te cuentras?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="carerList-block">
        <p>Cuidadores disponibles (<span id="availableCarersCount">6</span>)</p>
        <section class="box-main box-main--carerList">
            <div id="availableCarersList" class="carerCards">
                <a href="/carer-profile/5f2c30098f4be837775a37bf" class="carerCard">
                    <div class="carerCard_details">
                        <div class="carerCard_bubleTime">
                            <div class="carerCard_buble">
                                <span class="icon-countDownClok"></span>
                            </div>
                            <span class="carerCard_bubleTime_timeTo">en 20'</span>
                        </div>
                        <div class="carerCard_Intro">
                            <div class="carerCard_Intro_content">
                                <div class="carerCard_Intro_detail">
                                    <h3 class="carerCard_Intro_name">Elisabeth</h3>
                                    <p class="carerCard_Intro_lastReview">“Fue un encanto con Kira y conectamos rápidamente”</p>
                                </div>
                                <div class="carerCard_Intro_avatar">
                                    <div class="avatar"></div>
                                </div>
                            </div>
                            <div class="carerCard_feedback">
                                <div class="carerCard_feedback_averageBones">
                                    <span class="icon-bone"></span><span class="icon-bone"></span><span class="icon-bone"></span><span class="icon-bone"></span><span class="icon-bone"></span>
                                </div>
                                <div class="carerCard_feedback_nums">
                                    <div class="carerCard_feedback_averageScore">4.8</div>
                                    <div class="carerCard_feedback_numReviews">40 reseñas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
    
    <div id="map"></div>
    <section class="box-main">
        <div id="geocoder" class="geocoder"></div>
        <button id="search-carers" class="btn btn-primary btn-lg" type="button">Buscar LetsDogs!</button>
    </section>
</main>




<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="./../javascripts/services/apiService.js"></script>
<script src="./../javascripts/User.js"></script>
<script src="./../javascripts/map.js"></script>

