@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?ru1wed');
    src:  url('../../fonts/icomoon.eot?ru1wed#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.woff2?ru1wed') format('woff2'),
      url('../../fonts/icomoon.ttf?ru1wed') format('truetype'),
      url('../../fonts/icomoon.woff?ru1wed') format('woff'),
      url('../../fonts/icomoon.svg?ru1wed#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


  .icon-user:before {
    content: "\e90a";
    color: #f97350;
  }
  .icon-flag:before {
    content: "\e909";
  }
  .icon-check:before {
    content: "\e908";
  }
  .icon-countDownClok:before {
    content: "\e907";
    color: #f7f2e5;
  }
  .icon-editar:before {
    content: "\e906";
  }
  .icon-huella:before {
    content: "\e905";
  }
  .icon-addPhoto:before {
    content: "\e904";
    color: #b7ac9a;
  }
  .icon-back_arrow:before {
    content: "\e900";
  }
  .icon-bone:before {
    content: "\e901";
    color: #f97350;
  }
  .icon-dot-slide-dog:before {
    content: "\e902";
    color: #f97350;
  }
  .icon-logo:before {
    content: "\e903";
    color: #f97350;
  }
  
  