$headerheight: 56px;

header{
    background-color: $secondary-color;
    height: $headerheight;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    .navbar{
        background-color: transparent;
        padding: 0;
        
        .navbar-logo{
            max-width: 151px;

            img{
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 991px){
    .offcanvas-collapse {
        position: fixed;
        left: 100%;
        width: 80vw;
        height: 100vh;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
        font-size: 1.8rem;
        padding: 40px;
        background: $beige-color;
        top: 0;
        color: #fff;

        .navbar-toggler{
            top: 20px;
            position: absolute;
            right: 20px;
            font-size: 26px;
        }

        &:before,
        &:after{
            content: '';
            position: absolute;
            opacity: 0.2;
        }

        &:before{
            width: 249px;
            height: 89px;
            top: -30px;
            left: 0;
            background-image: url('../../images/mancha_2.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:after{
            width: 105px;
            height: 282px;
            top: 50%;
            right: 0;
            background-image: url('../../images/mancha_1.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .navbar-nav{
            margin-top: 40px
        }

        .navbar-nav .nav-link{
            color: $primary-color;
        }
    }

    .offcanvas-collapse.open {
        left: 20vw;
        visibility: visible;
        z-index: 1;
    }
}