.subHeader{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;

    &_content{
        display: flex;
        justify-content: space-between;
        position: relative;

        h1{
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }
    
        a,
        button{
            color: white;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.6rem;
            margin: 0;
            padding: 0;
            border: 0;
            background-color: transparent;
        }
    }
}