.btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.6rem;

    &.btn-primary{
        background-color: $primary-color;
        color: #fff;
    }

    &.btn-secondary{
        background-color: $secondary-color;
        color: $primary-color;
    }

    &.btn-lg{
        border-radius: 30px;
        padding: 20px 30px;
        height: 60px;
    }
    &.btn-link{
        background-color: transparent;
    }

}

.small-link{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 15px;

    a{
        text-decoration: none;
        color: $primary-color
    }
    
}