.intervalCard{
    padding: 24px 12px;
    border-radius: 20px;
    background-color: $beige-color;
    margin: 0;
    display: block;

    top: 0;
    left: 0;
    height: 100%;
    position: relative;

    &:before{
        content: "\e905";
        font-family: icomoon;
        position: absolute;
        right: 14px;
        bottom: 3px;
        font-size: 3.5rem;
        opacity: 0.1;
        color: black;
    }

    h4{
        font-size: 1.9rem;
        color: $dark-color;
        font-weight: 500;
        color: darken($color: $dark-color, $amount: 20);
    }

    .intervalTime {
        font-size: 2.5rem;
        font-weight: 700;
        color: darken($color: $dark-color, $amount: 20);

        span:last-child{
            font-size: 1.6rem;
            font-weight: 300;
            padding-left: 3px;
        }
    }
}